./account-service/pom.xml
./account-service/src/main/resources/
./account-service/target/
./account-service/.idea/

./authentication-service/pom.xml
./authentication-service/src/main/resources/
./authentication-service/target/
./authentication-service/.idea/
